### 1. Import Dependancies

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

### 2. Basic Processing

In [8]:
df = pd.read_csv('Data/Processed/ChurnModelling_Outlier_Handled.csv')
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,HasInternet
0,Female,0,1,0,1,0,0,DSL,0,1,...,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0,1
1,Male,0,0,0,34,1,0,DSL,1,0,...,0,0,0,One year,0,Mailed check,56.95,1889.50,0,1
2,Male,0,0,0,2,1,0,DSL,1,1,...,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1,1
3,Male,0,0,0,45,0,0,DSL,1,0,...,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,1
4,Female,0,0,0,2,1,0,Fiber optic,0,0,...,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,24,1,1,DSL,1,0,...,1,1,1,One year,1,Mailed check,84.80,1990.50,0,1
7039,Female,0,1,1,72,1,1,Fiber optic,0,1,...,0,1,1,One year,1,Credit card (automatic),103.20,7362.90,0,1
7040,Female,0,1,1,11,0,0,DSL,1,0,...,0,0,0,Month-to-month,1,Electronic check,29.60,346.45,0,1
7041,Male,1,1,0,4,1,1,Fiber optic,0,0,...,0,0,0,Month-to-month,1,Mailed check,74.40,306.60,1,1
7042,Male,0,0,0,66,1,0,Fiber optic,1,0,...,1,1,1,Two year,1,Bank transfer (automatic),105.65,6844.50,0,1

In [9]:
df['tenure'].min(), df['tenure'].max()

(0, 72)

- 0 - 6 => 'New'
- 7 - 12 => 'Early'
- 13 - 24=> 'Established'
- 25 - 48 => 'Mature'
- 49<  => 'Loyal'

In [10]:
def custom_binning(value):
    if value <= 6:
        return 'New'
    elif 6 < value <=12:
        return 'Early'
    elif 12< value <=24:
        return 'Established'
    elif 24 < value <=48:
        return 'Mature'
    elif 48 < value:
        return 'Loyal'

In [11]:
df['TenureBins'] = df['tenure'].apply(custom_binning)
del df['tenure']
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,HasInternet,TenureBins
0,Female,0,1,0,0,0,DSL,0,1,0,...,0,0,Month-to-month,1,Electronic check,29.85,29.85,0,1,New
1,Male,0,0,0,1,0,DSL,1,0,1,...,0,0,One year,0,Mailed check,56.95,1889.50,0,1,Mature
2,Male,0,0,0,1,0,DSL,1,1,0,...,0,0,Month-to-month,1,Mailed check,53.85,108.15,1,1,New
3,Male,0,0,0,0,0,DSL,1,0,1,...,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,1,Mature
4,Female,0,0,0,1,0,Fiber optic,0,0,0,...,0,0,Month-to-month,1,Electronic check,70.70,151.65,1,1,New
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,1,1,DSL,1,0,1,...,1,1,One year,1,Mailed check,84.80,1990.50,0,1,Established
7039,Female,0,1,1,1,1,Fiber optic,0,1,1,...,1,1,One year,1,Credit card (automatic),103.20,7362.90,0,1,Loyal
7040,Female,0,1,1,0,0,DSL,1,0,0,...,0,0,Month-to-month,1,Electronic check,29.60,346.45,0,1,Early
7041,Male,1,1,0,1,1,Fiber optic,0,0,0,...,0,0,Month-to-month,1,Mailed check,74.40,306.60,1,1,New
7042,Male,0,0,0,1,0,Fiber optic,1,0,1,...,1,1,Two year,1,Bank transfer (automatic),105.65,6844.50,0,1,Loyal

In [12]:
df.to_csv('Data/Processed/ChurnModelling_Binning_Applied.csv', index=False)